@page
@model Clinica_Salud_Total.Pages.Pacientes.IndexModel
@{
    ViewData["Title"] = "Lista de Pacientes";
}

<h1>Lista de Pacientes</h1>
<a class="btn btn-primary mb-3" asp-page="Crear">Agregar Nuevo Paciente</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Género</th>
            <th>Fecha Nacimiento</th>
            <th>Edad</th>
            <th>Obra Social</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model.Pacientes)
        {
            <tr>
                <td>@paciente.IdPaciente</td>
                <td>@paciente.Dni</td>
                <td>@paciente.Nombre</td>
                <td>@paciente.Apellido</td>
                <td>@paciente.Email</td>
                <td>@paciente.Telefono</td>
                <td>@paciente.Direccion</td>
                <td>@paciente.Genero</td>
                <td>@paciente.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                <td>@paciente.Edad</td>
                <td>@paciente.ObraSocial</td>
                <td>@paciente.IdEstadoNavigation?.Nombre</td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-page="Editar" asp-route-id="@paciente.IdPaciente">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-page="Borrar" asp-route-id="@paciente.IdPaciente">Eliminar</a>
                    <a class="btn btn-info btn-sm" asp-page="Detalles" asp-route-id="@paciente.IdPaciente">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (Model.Pacientes.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@(Model.Pacientes.PageIndex - 1)">Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        }

        @for (int i = 1; i <= Model.Pacientes.TotalPages; i++)
        {
            if (i == Model.Pacientes.PageIndex)
            {
                <li class="page-item active"><span class="page-link">@i</span></li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-pageIndex="@i">@i</a>
                </li>
            }
        }

        @if (Model.Pacientes.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@(Model.Pacientes.PageIndex + 1)">Siguiente</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        }
    </ul>
</nav>
