@page
@model Clinica_Salud_Total.Pages.Turnos.IndexModel
@{
    ViewData["Title"] = "Lista de Turnos";
}

<h1>Lista de Turnos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Comprobante</th>
            <th>ID Paciente</th>
            <th>ID Profesional</th>
            <th>ID Tutor</th>
            <th>Fecha</th>
            <th>Duracion</th>
            <th>Estado</th>
            <th>Observacion</th>
            <th>Fecha Creacion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var turno in Model.Turnos)
        {
            <tr>
                <td>@turno.IdTurno</td>
                <td>@turno.Comprobante</td>
                <td>@turno.IdPaciente</td>
                <td>@turno.IdProfesional</td>
                <td>@(turno.IdTutor.HasValue ? turno.IdTutor.ToString() : "-")</td>
                <td>@turno.FechaHora.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@turno.Duracion</td>
                <td>@turno.IdEstadoNavigation?.Nombre</td> <!-- Suponiendo que Estado tiene Nombre -->
                <td>@turno.Observaciones</td>
                <td>@turno.FechaCreacion.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-page="Editar" asp-route-id="@turno.IdTurno">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @if (Model.Turnos.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@(Model.Turnos.PageIndex - 1)">Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        }

        @for (int i = 1; i <= Model.Turnos.TotalPages; i++)
        {
            if (i == Model.Turnos.PageIndex)
            {
                <li class="page-item active"><span class="page-link">@i</span></li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-pageIndex="@i">@i</a>
                </li>
            }
        }

        @if (Model.Turnos.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@(Model.Turnos.PageIndex + 1)">Siguiente</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        }
    </ul>
</nav>